<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIST IN HTML</title>
    
</head>
<body>
    <h1>List in html</h1>
    <h2>Unordered list</h2>
    <ul type="bullets">
        <li>Pink</li>
        <li>Orange</li>
        <li>Blue</li>
        <li>Yellow</li>
        <li>Red</li>
        <li>Grey</li>
        <li>White</li>
    </ul>
    <hr>
    <h2>Ordered list </h2>
    <ol type="i">
        <li>Banana</li>
        <li>Apple</li>
        <li>Kiwi</li>
        <li>Pineapple</li>
        <li>Avacado</li>
        <li>Papaya</li>
        <li>Dragon Fruit</li>
    </ol>
    <hr>
    <h2>Descriptive List</h2>
    <dl>
        <dt>HTML</dt>
        <DD>Hyper Text Markup Language</DD>
        <dt>CSS</dt>
        <dd>Cascading Stylesheet</dd>
    </dl>
    <hr>
    <h2>Nested List</h2>
    <ul>
        <li>Html 
            <ol>
                <li>Html 5</li>
                <li>HTML 4.01</li>
                
            </ol>

        </li>
        <LI>Css
        <ol>
            <li>css</li>
            <li>css 3</li>
            
        </ol>
        </LI>
        <DL>
            <DT>JSS 
                <DD>Java Script</DD>
            </DT>
        </DL>
    </ul>
</body>
</html>